:root {
  --c-bg: #f6f6f2;
  --c-text: #111111;
  --c-muted: #4b4b4b;

  --c-green: #163f34;
  --c-green-2: #1f5748;
  --c-yellow: #f2c94c;

  --container: 1200px;
  --radius-xl: 16px;
  --radius-lg: 12px;
  --header-h: 72px;

  --shadow-soft: 0 8px 30px rgba(0,0,0,.08);

  --bg:#f6f6f3;
  --surface:#ffffff;
  --text:#111;
  --green:#153c2f;
  --yellow:#f2c94c;
}
